.CheckoutSummary {
  h2 {
    text-align: center;
    margin: 1em 0 1em;
    font-weight: normal;
    font-style: italic;
    color: var(--cl-secondary);
    opacity: 0;
    animation: slide-in 300ms ease-in-out;
    animation-fill-mode: forwards;
    position: relative;
    @keyframes slide-in {
      0% {
        opacity: 0;
        right: 100%;
      }
      100% {
        opacity: 1;
        right: 0;
      }
    }
  }

  &__buttons {
    width: 80%;
    max-width: 500px;
    margin: 1.5em auto 2em;
    display: grid;
    grid-auto-columns: min-content;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 0.25em;
  }
}

.ContactData {
  background: var(--cl-accent-bg);
  padding: 2em 2em 7em;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  margin: 2em auto 10em;
  h2 {
    text-align: center;
  }
  form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: grid;

    .Button {
      margin-top: 1em;
      &:not(:disabled) {
        animation: enabled 300ms ease-in-out;
      }
      @keyframes enabled {
        0% {
          opacity: 0;
          transform: translateY(1em);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
