.BurgerBuilder {
  &__burger-wrapper {
    width: 100vw;
    height: 300px;
    position: relative;
    display: grid;
    place-items: center;
    background: rgba(231, 216, 168, 0.2);
    .Burger {
      width: 350px;
      height: 90%;
      background: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Ingredient {
        &--bread-top {
          width: 80%;
          height: 20%;
          margin: 1% auto;
          background: linear-gradient(#bc581e, #e27b36);
          border-radius: 50% 50% 0 0;
          position: relative;
        }
        @mixin seed($left, $top, $deg) {
          width: 10%;
          height: 15%;
          position: absolute;
          background: white;
          left: $left;
          top: $top;
          border-radius: 40%;
          transform: rotate($deg);
          box-shadow: inset -2px -3px #c9c9c9;
          &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: white;
            position: relative;
            border-radius: 40%;
            left: -170%;
            top: -260%;
            transform: rotate(60deg);
            box-shadow: inset -1px -3px #c9c9c9;
          }
        }

        &--seeds1 {
          @include seed(30%, 50%, -20deg);
        }
        &--seeds2 {
          @include seed(60%, 35%, -190deg);
        }

        &--bread-bottom {
          width: 80%;
          height: 13%;
          margin: 1% auto;
          background: linear-gradient(#bc581e, #e27b36);
          border-radius: 0 0 30px 30px;
        }

        &--salad {
          width: 85%;
          height: 7%;
          border-radius: 20px;
          background: linear-gradient(#56ab2f, #a8e063);
          margin: 1% auto;
        }

        &--bacon {
          width: 80%;
          height: 3%;
          border-radius: 20px;
          background: linear-gradient(#bf3813, #c45e38);
          margin: 1% auto;
        }

        &--cheese {
          width: 90%;
          height: 5%;
          border-radius: 20px;
          background: linear-gradient(#ffb347, #ffcc33);
          margin: 1% auto;
        }

        &--meat {
          width: 80%;
          height: 8%;
          border-radius: 20px;
          background: linear-gradient(#7f3608, #702e05);
          margin: 1% auto;
        }
      }
    }
  }
  .BuildControls {
    background: var(--cl-primary);
    padding: 2em;
    display: grid;
    place-items: center;
    font-size: 1.1rem;
    &__price {
      span {
        font-weight: bold;
      }
    }
    .BuildControl {
      display: flex;
      align-items: center;
      margin: 0.2em;
      display: flex;
      justify-content: space-between;
      label {
        text-transform: capitalize;
        font-size: 1.2rem;
        width: 5em;
      }
    }
  }
}

.OrderButton {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  background: var(--cl-accent);
  padding: 0.75em 2em;
  border-radius: 5px;
  margin-top: 1.25em;
  color: var(--cl-dark);
  &:not(:disabled):hover,
  &:focus {
    filter: brightness(1.1);
    outline: none;
  }
  &:active {
    filter: brightness(0.9);
  }
  &:not(:disabled) {
    animation: enabled 0.3s cubic-bezier(0.76, -0.09, 0.23, 0.99);
  }
  @keyframes enabled {
    0% {
      transform: scale(1);
      opacity: 0.5;
      filter: saturate(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.9);
      opacity: 1;
      filter: saturate(1);
    }
  }
}

.Modal__content {
  @include shadow();
}

.OrderSummary {
  h3 {
    width: 50%;
    margin: auto;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
  p {
    font-style: italic;
  }
  &__buttons {
    margin-top: 2em;
    display: grid;
    grid-auto-columns: min-content;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 0.25em;
  }
  ul {
    li {
      &:not(:last-of-type) {
        margin-bottom: 0.5em;
      }
    }
  }
  &__ingredient {
    display: inline-block;
    text-align: left;
    width: 5em;
  }
}
