.BurgerBuilder {
  &__burger-wrapper {
    height: 300px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    .Burger {
      background: lightpink;
      display: flex;
      flex-direction: column;
      align-items: center;
      .Ingredient {
        background: turquoise;
        margin: 0.5em;
      }
    }
  }
  .BuildControls {
    background: rgb(202, 154, 76);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__price {
      span {
        font-weight: bold;
      }
    }
    .BuildControl {
      display: flex;
      justify-content: space-between;
      label {
        width: 5em;
      }
    }
  }
}

.OrderButton {
  font-size: 1.2rem;
  margin: 0.5em;
}
