@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
// ============================================
// Variables
// ============================================
:root {
  // colors
  --cl-primary-light: rgba(246, 236, 204, 0.246);
  --cl-primary: #cc8b29;
  --cl-secondary: #774319;
  --cl-light: #fff;
  --cl-gray-dark: #bbb;
  --cl-gray: #ccc;
  --cl-gray-light: #eee;
  --cl-dark: hsla(0, 0%, 0%, 1);
  $accent: #f0c33d;
  --cl-accent: #{$accent};
  --cl-accent-bg: #{transparentize($accent, 0.1)};
  --cl-success: #396f3a;
  --cl-danger: #bf3813;

  // typography
  --ff-s: 'Playfair Display', serif;
  --ff-ss: Roboto, sans-serif;

  --fz-h2: 1.5em;

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;

  // dimensions
  --height-navbar: 3.75rem;

  // z-index
  --z-navbar: 10;
  --z-backdrop: 50;
  --z-side-drawer: 75;
  --z-modal: 100;
  --z-spinner: 200;
}
// Breakpoints
$bp-sm: 576px;

// ============================================
// Mixins
// ============================================

@mixin media-sm() {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin media-lg() {
  @media (min-height: 1000px) {
    @content;
  }
}

@mixin shadow() {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

// ============================================
// Global Rules
// ============================================
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--ff-ss), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
  background: transparent; // remove button's default background
  &:disabled {
    opacity: 0.5;
    filter: saturate(0);
    cursor: not-allowed;
  }
}

// ============================================
// Queries
// ============================================

// set max-width = min-width - 1
@media (max-width: $bp-sm - 1) {
  .desktop-only {
    display: none;
  }
}
