$z-backdrop: 50;
$z-spinner: 100;

// CSS variables ======================
:root {
  // colors
  --cl-light: #fff;

  // dimensions
  --height-navbar: 3.75rem;

  // z-index
  --z-side-drawer: 75;
}

// Mixins ==============================

@mixin media-sm() {
  @media (min-width: 576px) {
    @content;
  }
}

// Globals =============================
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.6;
}
