html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.6;
}

.Layout {
  .Navbar {
    background: rgb(167, 108, 42);
    display: flex;
    .MenuIcon {
      margin: 0.5em;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &__line {
        width: 100%;
        height: 4px;
        background: white;
        border-radius: 2px;
      }
    }
  }
  .SideDrawer {
  }
  .Layout_main {
  }
  .NavItems {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    .NavItem {
      margin-left: 0.5em;
      a {
        text-decoration: none;
      }
    }
  }
}

.BurgerBuilder {
  &__burger-wrapper {
    height: 300px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    .Burger {
      background: lightpink;
      display: flex;
      flex-direction: column;
      align-items: center;
      .Ingredient {
        background: turquoise;
        margin: 0.5em;
      }
    }
  }
  .BuildControls {
    background: rgb(202, 154, 76);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__price {
      span {
        font-weight: bold;
      }
    }
    .BuildControl {
      display: flex;
      justify-content: space-between;
      label {
        width: 5em;
      }
    }
  }
}

.Button {
  font: inherit;
}
